<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/scripts/script.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/view.css">
    <link rel="stylesheet" href="/css/references.css">
    <link rel="stylesheet" href="/css/dark.css" media="(prefers-color-scheme: dark)" id="dark-css">
    <title>{{title | safe}}</title>
</head>
<body>
    <header>
        <a href="/">QGG LivingLab</a>
        <span>
            Theme:
            <select class="theme-selector">
                <option value="light">Light</option>
                <option value="dark">Dark</option>
            </select>
        </span>
    </header>
    <div class="content-wrapper">
    <nav class="sidebar">
        {# <h2 class="sidebar-header">Architecture description</h2> #}
        <ol class="sidebar-list-outer">
            <li><span class="sidebar-category">Frontmatter</span>
                <ol>
                    <li class="sidebar-link">
                        <a href="/introduction/">Introduction</a>
                    </li>
                    <li class="sidebar-link">
                        <a href="/stakeholders/">Stakeholders</a>
                    </li>
                    <li class="sidebar-link">
                        <a href="/quality-properties/">Quality properties</a>
                    </li>
                </ol>
            </li>
            <li><span class="sidebar-category">Architectural views</span>
                <ol>
                    <li class="sidebar-link">
                        <a href="/views/context/context-model/">Context model</a>
                    </li>
                    <li class="sidebar-link">
                        <a href="/views/functional/functional-structure/">Functional structure</a>
                    </li>
                    <li>
                        <button class="sidebar-expander">
                            <span>Information views</span>
                            <svg class="chevron" focusable="false" viewBox="0 0 16 16" width="16" height="16" overflow="visible"><path d="M5.22 3.22a.749.749 0 0 1 1.06 0l4.25 4.25a.749.749 0 0 1 0 1.06l-4.25 4.25a.749.749 0 1 1-1.06-1.06L8.939 8 5.22 4.28a.749.749 0 0 1 0-1.06Z"></path></svg>
                        </button>
                        <ol class="sidebar-expandable">
                            <li class="sidebar-link">
                                <a href="/views/information/static-information-structure/">Static information structure</a>
                            </li>
                            <li class="sidebar-link">
                                <a href="/views/information/information-flow/">Information flow</a>
                            </li>
                        </ol>
                    </li>
                    <li class="sidebar-link">
                        <a href="/views/concurrency/concurrency-model/">Concurrency model</a>
                    </li>
                    <li>
                        <button class="sidebar-expander">
                            <span>Development views</span>
                            <svg class="chevron" focusable="false" viewBox="0 0 16 16" width="16" height="16" overflow="visible"><path d="M5.22 3.22a.749.749 0 0 1 1.06 0l4.25 4.25a.749.749 0 0 1 0 1.06l-4.25 4.25a.749.749 0 1 1-1.06-1.06L8.939 8 5.22 4.28a.749.749 0 0 1 0-1.06Z"></path></svg>
                        </button>
                        <ol class="sidebar-expandable">
                            <li class="sidebar-link">
                                <a href="/views/development/module-structure/">Module structure</a>
                            </li>
                            <li class="sidebar-link">
                                <a href="/views/development/codeline-organisation/">Codeline organisation</a>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <button class="sidebar-expander">
                            <span>Deployment views</span>
                            <svg class="chevron" focusable="false" viewBox="0 0 16 16" width="16" height="16" overflow="visible"><path d="M5.22 3.22a.749.749 0 0 1 1.06 0l4.25 4.25a.749.749 0 0 1 0 1.06l-4.25 4.25a.749.749 0 1 1-1.06-1.06L8.939 8 5.22 4.28a.749.749 0 0 1 0-1.06Z"></path></svg>
                        </button>
                        <ol class="sidebar-expandable">
                            <li class="sidebar-link">
                                <a href="/views/deployment/runtime-platform/">Runtime platform</a>
                            </li>
                            <li class="sidebar-link">
                                <a href="/views/deployment/network-model/">Network model</a>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <button class="sidebar-expander">
                            <span>Operational views</span>
                            <svg class="chevron" focusable="false" viewBox="0 0 16 16" width="16" height="16" overflow="visible"><path d="M5.22 3.22a.749.749 0 0 1 1.06 0l4.25 4.25a.749.749 0 0 1 0 1.06l-4.25 4.25a.749.749 0 1 1-1.06-1.06L8.939 8 5.22 4.28a.749.749 0 0 1 0-1.06Z"></path></svg>
                        </button>
                        <ol class="sidebar-expandable">
                            <li class="sidebar-link">
                                <a href="/views/operational/installation/">Installation</a>
                            </li>
                            <li class="sidebar-link">
                                <a href="/views/operational/migration/">Migration</a>
                            </li>
                            <li class="sidebar-link">
                                <a href="/views/operational/administration/">Administration</a>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li><span class="sidebar-category">Backmatter</span>
                <ol>
                    <li class="sidebar-link">
                        <a href="/glossary/">Glossary</a>
                    </li>
                    <li class="sidebar-link">
                        <a href="/references/">References</a>
                    </li>
                </ol>
            </li>
        </ol>
      </nav>
    <main>
        {{ content | safe }}
    </main>
    </div>
    <footer>
        QGG Aarhus University
    </footer>
    <script>

  // Get the current page's URL path
  const currentPath = window.location.pathname;

  // Find all sidebar links
  const links = document.querySelectorAll('nav a');

  links.forEach(link => {
    const href = link.getAttribute('href');
    if (href === currentPath || href + 'index.html' === currentPath) {
        const linkContainer = link.parentNode;
        linkContainer.classList.add('current');
        
        const linkIsNested = linkContainer.parentNode.classList.contains("sidebar-expandable");
        if (linkIsNested) {
            const expandable = linkContainer.parentNode;
            expandable.style.display = "block";

            const chevron = expandable.parentNode.querySelector(".chevron");
            chevron.classList.add('open');

            const expander = expandable.parentNode.querySelector(".sidebar-expander");
            expander.classList.add("current");
            expander.classList.add("open");
        }
    }
  });

  
  // Add toggle to buttons in sidebar
  document.querySelectorAll(".sidebar-expander").forEach(btn => {
        btn.addEventListener("click", function() {
            const expandable = this.parentNode.querySelector(".sidebar-expandable");
            const isHidden = window.getComputedStyle(expandable).display === "none";
            expandable.style.display = isHidden ? "block" : "none";
            
            const chevron = this.querySelector(".chevron");
            chevron.classList.toggle("open");
            this.classList.toggle("open");
        });
    });


    document.addEventListener("DOMContentLoaded", () => {
        setTimeout(() => {
  document.body.classList.add("loaded");
  }, 10);
});
</script>
</body>
</html>