<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/scripts/script.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/view.css">
    <link rel="stylesheet" href="/css/references.css">
    <link rel="stylesheet" href="/css/dark.css" media="(prefers-color-scheme: dark)" id="dark-css">
    <title>{{title | safe}}</title>
</head>
<body>
    <header>
        <a href="/">QGG LivingLab</a>
        <span>
            Theme:
            <select class="theme-selector">
                <option value="light">Light</option>
                <option value="dark">Dark</option>
            </select>
        </span>
    </header>
    <div class="content-wrapper">
    <nav class="sidebar">
        <h2 class="sidebar-header">Contents</h2>
        <ol>
            <li><a href="/introduction/">Introduction</a></li>
            <li><a href="">Stakeholders</a></li>
            <li>Architectural views
                <ol>
                    <li>Context</li>
                    <li>Functional
                        <ul>
                            <li><a href="/views/functional/functional-structure/">Functional structure</a></li>
                        </ul>
                    </li>
                    <li>Information</li>
                    <li>Concurrency</li>
                    <li>Development
                        <ul>
                            <li><a href="/views/development/module-structure/">Module structure</a></li>
                        </ul>
                    </li>
                    <li>Deployment
                        <ul>
                            <li><a href="/views/deployment/runtime-platform/">Runtime platform</a></li>
                        </ul>
                    </li>
                    <li>Operational</li>
                </ol>
            </li>
            <li><a href="">Quality properties</a></li>
            <li><a href="">Glossary</a></li>
            <li><a href="/references/">References</a></li>
        </ol>
      </nav>
    <main>
        {{ content | safe }}
    </main>
    </div>
    <footer>
        QGG Aarhus University
    </footer>
    <script>
  // Get the current page's URL path
  const currentPath = window.location.pathname;

  // Find all sidebar links
  const links = document.querySelectorAll('nav a');

  links.forEach(link => {
    const href = link.getAttribute('href');
    if (href === currentPath || href + 'index.html' === currentPath) {
      link.classList.add('current');
    }
  });
</script>
</body>
</html>