---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>
<p class="view-description">{{ description }}</p>

{# <h2>Stakeholder concerns</h2>
{{ stakeholderConcerns }} #}

{% if model %}
<h2>Model</h2>
<div class="diagram-container">
    <object
    class="toggle"
    data="/assets/{{ model.path }}-light.svg"
    data-light="{{ '/assets/' | url }}{{ model.path }}-light.svg"
    data-dark="{{ '/assets/' | url }}{{ model.path }}-dark.svg"></object>
</div>
<p class="presentation-key">Model kind: {{ model.modelKind }}</p>
<p>Source: {% cite model.source.id %}, p. {{ model.source.page }}</p>

<h2>Elements</h2>
<dl>
    {% for element in elements %}
    <dt>{{ element.title }}</dt>
    <dd>{{ element.content | markdownify | safe }}</dd>
    {% endfor %}
</dl>
{% endif %}

{% for section in sections %}
<h2>{{ section.title }}</h2>
{{ section.content | markdownify | safe }}
{% endfor %}