@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


:root {
    --content-width: 800px;
    --sidebar-width: 300px;
    --sidebar-gap: 20px;

    --main-font: "Source Sans 3";

    --background-color: rgb(255,255,255);
    --text-color: rgb(0,0,0);
    --header-text-color: rgb(68,68,68);
    --link-color: rgb(0, 114, 170);
    --border-color: rgb(222,222,222);

    --button-background-color: rgb(233,233,237);
    --button-background-color-hover: rgb(208,208,215);
    --button-text-color: rgb(0,0,0);
    --button-border-color: rgb(143,143,157);
    --button-border-color-hover: rgb(103,103,116);
}


/* Layout and dimensions */

body {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
}

.theme-selector {
    margin-left: 0.5em;
}

.content-wrapper {
    display: grid;
    grid-template-columns: var(--sidebar-width) var(--content-width);
    flex: 1;
    gap: var(--sidebar-gap);
}

footer {
    margin-top: auto;
}

.sidebar {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-y: auto;
    grid-column: 1;
}

main {
    grid-column: 2;
}


/* Boxes */

header, footer {
    margin-top: 0.5em;
    margin-bottom: 1.2em;
    padding: 0.5em 10px;
}

.sidebar {
    padding-left: 10px;
}

header {
    border-bottom: solid 0.8px var(--border-color);
}

footer {
    border-top: solid 0.8px var(--border-color);
}

h1, .sidebar-header {
    margin-top: 0;
}

ol, ul {
    padding-left: 2em;
}


/* Colors and fonts */

html {
    background-color: var(--background-color);
}

body {
    font-family: var(--main-font);
}

.content-wrapper {
    color: var(--text-color);
}

header, footer {
    font-size: 90%;
    color: var(--header-text-color);
}

h1, h2, h3 {
    font-weight:600;
}

h1 {
    font-size: 200%;
}

:is(header, .sidebar) a {
    color: inherit;
    text-decoration: none;
}

:is(header, .sidebar) a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

a {
    text-underline-offset: 2px;
}

main a {
    color: var(--link-color);
}
/* 
main a {
    text-decoration: none;
    padding: 0.15em;
    margin: -0.15em;
    color: inherit;
    -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
    box-shadow: inset 0 -0.125rem 0 0rem rgb(104, 155, 226);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1), color 200ms cubic-bezier(0.4, 0.0, 0.2, 1), padding 200ms cubic-bezier(0.4, 0.0, 0.2, 1), margin 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

main a:hover {
    padding: 0.3em 0.25em 0.2em 0.25em;
    margin: -0.25em;
    box-shadow: inset 0 -1.5em 0 0 rgb(104, 155, 226);
    text-decoration: none;
    color: rgb(6, 6, 6);
} */


/* Link decoration */

a[href*="//"]::after {
    content: '↗';
}


/* Sidebar list */

button {
    all: unset;
}

.sidebar-list-outer {
    width: calc(100% - 16px);
}

.sidebar ol {
    list-style: none;
    padding-left: 0;
}

.sidebar-expander {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.sidebar-expandable {
    display: none;
}

.sidebar a {
    width: 100%;
    display: block;
}

.sidebar-expander, .sidebar-expandable a {
    box-sizing: border-box;
}

.sidebar-expandable a {
    padding-left: 16px;
}

.sidebar-expander, .sidebar-link {
    padding: 2px 6px;
    border-left: solid 3px transparent;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

:is(.sidebar-expander, .sidebar-link):hover {
    background-color: rgb(160, 203, 239);
    border-left: solid 3px rgb(0,105,194);
    cursor: pointer;
}

.current {
    background-color: rgb(207,232,253);
    border-left: solid 3px rgb(0,105,194);
}

.sidebar a:hover {
    text-decoration: none;
    color: inherit;
}

.sidebar-category {
    font-weight: bold;
    font-size: 80%;
    text-transform: uppercase;
    margin-top: 10px;
    display: block;
}

.chevron {
    transition: none;
}

.chevron.open {
    transform: rotate(90deg);
}

body.loaded .chevron {
    transition: transform 0.3s ease;
}