.presentation-key {
    font-style: italic;
}

.catalogue-element-container {
    margin-top: 0;
    margin-bottom: 1rem;
}

.catalogue-element {
    font-size: inherit;
    font-weight: 700;
    display: inline;
}

.catalogue-element::after {
    content: ":";
}

.catalogue-element + * {
    display: inline;
}

.catalogue-element + * + p {
    margin-top: 1rem;
}

h1 {
    margin-bottom: 0;
}

.view-description {
    font-size: 130%;
    margin-top: 0;
    color: gray;
    font-style: italic;
    line-height: 1.2;
}

.diagram-container {
    display: flex;
    justify-content: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

table {
    background-color: #eef4f7;
    border-radius: 3px;
    padding: 0.3em 0.5em;
    font-family: var(--sidebar-font);
    font-size: 16px;
}

thead {
    color: #595959;
    font-size: 80%;
    text-transform: uppercase;
}

table code {
    background-color: #e4eef1;
    color: #717170;
}

th, td {
    text-align: left;
}