@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: "Fira Code";
    src: url("../fonts/FiraCode-VariableFont.ttf") format("truetype");
    font-weight: 300 700;
    font-style: normal;
}

:root {
    --content-width: 600px;
    --sidebar-width: 240px;
    --sidebar-gap: 30px;

    --body-font: "Crimson Pro";
    --header-font: "Source Sans 3";
    --sidebar-font: var(--header-font);
    --code-font: "Fira Code";

    --background-color: rgb(255,255,255);
    --text-color: #222;
    --header-text-color: rgb(68,68,68);
    --link-color: rgb(20, 129, 184); /* rgb(0,105,194) */
    --border-color: rgb(222,222,222);
    --code-color: #717170;
    --code-background-color: #faf8f5;
    --current-page-highlight-color: rgb(207,232,253);
    --hover-page-highlight-color: rgb(160, 203, 239);
    --current-page-border-color: rgb(0,105,194);
    --sidebar-category-color: #6f6f6f;
    --view-description-color: gray;

    --button-background-color: rgb(233,233,237);
    --button-background-color-hover: rgb(208,208,215);
    --button-text-color: rgb(0,0,0);
    --button-border-color: rgb(143,143,157);
    --button-border-color-hover: rgb(103,103,116);

    --table-background-color: #eef4f7;
    --table-header-color: #595959;
    --table-code-background-color: #e4eef1;
    --table-code-color: #717170;
}


/* Layout and dimensions */

body {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
}

.theme-selector {
    margin-left: 0.5em;
}

.content-wrapper {
    display: grid;
    grid-template-columns: var(--sidebar-width) var(--content-width);
    flex: 1;
    gap: var(--sidebar-gap);
    justify-content: center;
}

footer {
    margin-top: auto;
}

.sidebar {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-y: auto;
    grid-column: 1;
}

main {
    grid-column: 2;
}


/* Boxes */

header, footer {
    margin-top: 0.5em;
    margin-bottom: 1.2em;
    padding: 0.5em 10px;
}

header {
    border-bottom: solid 0.8px var(--border-color);
}

footer {
    border-top: solid 0.8px var(--border-color);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.4;
}

ol, ul, dl {
    line-height: 1.4;
}

ol, ul {
    padding-left: 2em;
}

main :is(ol, ul, dl) {
    margin: 0 0 1rem 0;
}

dd {
    margin-left: 20px;
}



/* Colors and fonts */

html {
    background-color: var(--background-color);
}

body {
    font-family: var(--body-font);
}

.sidebar {
    font-family: var(--sidebar-font);
}

.content-wrapper {
    color: var(--text-color);
}

header, footer {
    font-size: 90%;
    color: var(--header-text-color);
    font-family: var(--header-font);
}

main {
    font-size: 18px;
}

h1, h2, h3 {
    font-weight:600;
}

h1 {
    font-size: 200%;
}

h2 {
    border-bottom: solid 1px var(--border-color);
}

:is(header, .sidebar) a {
    color: inherit;
    text-decoration: none;
}

:is(header, .sidebar) a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

a {
    text-underline-offset: 2px;
}

main a {
    color: var(--link-color);
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

/* 
main a {
    text-decoration: none;
    padding: 0.15em;
    margin: -0.15em;
    color: inherit;
    -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
    box-shadow: inset 0 -0.125rem 0 0rem rgb(104, 155, 226);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1), color 200ms cubic-bezier(0.4, 0.0, 0.2, 1), padding 200ms cubic-bezier(0.4, 0.0, 0.2, 1), margin 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

main a:hover {
    padding: 0.3em 0.25em 0.2em 0.25em;
    margin: -0.25em;
    box-shadow: inset 0 -1.5em 0 0 rgb(104, 155, 226);
    text-decoration: none;
    color: rgb(6, 6, 6);
} */

code {
    font-family: var(--code-font);
    font-size: 14px;
    color: var(--code-color);
}

:not(pre) > code {
    padding: .1em .2em;
    margin: 0;
    white-space: break-spaces;
    background-color: var(--code-background-color);
    border-radius: 3px;
}

pre {
    background-color: var(--code-background-color);
    border-radius: 3px;
    padding: 0.3em 0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    overflow: auto;
}

dt {
    font-style: italic;
}


/* Link decoration */

a[href*="//"]::after {
    content: '↗';
}


/* Sidebar list */

button {
    all: unset;
}

.sidebar-list-outer {
    width: calc(100% - 16px);
    margin: 0;
}

.sidebar ol {
    list-style: none;
    padding-left: 0;
}

.sidebar-expander {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sidebar-expandable {
    display: none;
}

.sidebar a {
    width: 100%;
    display: block;
}

.sidebar-expander, .sidebar-expandable a {
    box-sizing: border-box;
}

.sidebar-expandable a {
    padding-left: 16px;
}

.sidebar-expander, .sidebar-link {
    padding: 2px 6px;
    border-left: solid 3px transparent;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.current:not(.open) {
    background-color: var(--current-page-highlight-color);
    border-left: solid 3px var(--current-page-border-color);
}

:is(.sidebar-expander, .sidebar-link):hover {
    background-color: var(--hover-page-highlight-color);
    border-left: solid 3px var(--current-page-border-color);
    cursor: pointer;
}

.sidebar a:hover {
    text-decoration: none;
    color: inherit;
}

.sidebar-category {
    font-weight: bold;
    font-size: 80%;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 3px;
    padding-left: 9px;
    display: block;
    color: var(--sidebar-category-color);
}

.chevron {
    transition: none;
}

.chevron.open {
    transform: rotate(90deg);
}

body.loaded .chevron {
    transition: transform 0.3s ease;
}