.presentation-key {
    font-style: italic;
}

.catalogue-element-container {
    margin: 15px 0;
}

.catalogue-element {
    font-size: inherit;
    font-weight: 600;
    display: inline;
}

.catalogue-element::after {
    content: ":";
}

.catalogue-element + * {
    /* margin-top: 0; */
    display: inline;
}

h1 {
    margin-bottom: 0;
}

.view-description {
    font-size: 130%;
    margin-top: 0;
    color: gray;
}

.diagram-container {
    display: flex;
    justify-content: center;
}