---
pagination:
  data: collections.views
  size: 1
  alias: view
permalink: "views/{{ view.fileName }}/index.html"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ view.title }}"
  presentationType: "{{ view.presentation.type }}"
  presentationPath: "{{ view.presentation.path }}"
  presentationText: "{{ view.presentation.text }}"
  presentationKey: "{{ view.presentation.key }}"
---

<h1>{{ view.title }}</h1>
<h2>Primary presentation</h2>
{% if presentationPath %}
  <div style="width: {{ presentationWidth }}; height: {{ presentationHeight }}">
    <object
      type="{{ presentationType }}"
      class="toggle"
      data="/assets/{{ presentationPath }}-light.svg"
      data-light="/assets/{{ presentationPath }}-light.svg"
      data-dark="/assets/{{ presentationPath }}-dark.svg"></object>
  </div>
{% endif %}
{% if presentationKey %}
  <p class="presentation-key">Key: {{ presentationKey }}</p>
{% endif %}
{% if presentationText %}
  {{ view.presentation.text | safe }}
{% endif %}

{% if view.elements %}
  <h2>Element catalogue</h2>
  {% for element in view.elements %}
    <div class="catalogue-element-container">
      <h3 class="catalogue-element">{{ element.title }}</h3>
      {{ element.content | safe }}
    </div>
  {% endfor %}
{% endif %}