---
layout: layouts/base.njk
title: Glossary
---

<h1>{{title}}</h1>
<dl>
{% for entry in collections.glossary %}
    <dt>{{ entry.term }}</dt>
    <dd>{{ entry.definition | markdownify | renderContent | safe }}</dd>
{% endfor %}
</dl>
