---
layout: layouts/base.njk
title: Index
---

<h1>{{title}}</h1>
<p>This is the frontpage of the LivingLab documentation.</p>
<p>This documentation page is generated using <a href="https://www.11ty.dev/">Eleventy</a>. All UML diagrams are drawn using <a href="https://www.drawio.com/">draw.io</a>.</p>