---
layout: layouts/base.njk
title: Introduction
---

<h1>{{title}}</h1>

<h2>Entity of interest</h2>
<p>TODO</p>

<h2>Purpose, scope, audience</h2>
<p>TODO</p>

<h2>Identifying information</h2>
<p>This architecture description is authored by Danny Nygård Hansen (dnh@qgg.au.dk) at the Center for Quantitative Genetics and Genomics at Aarhus University.</p>

<h2>Documentation status</h2>
<p>Under development</p>