---
layout: layouts/base.njk
title: References
---

<h1>{{title}}</h1>

<p>
  Note that students and employees at Aarhus University have online access to all Danish standards, including international standards that have been implemented in Denmark. <a href="https://library.au.dk/en/resources/standards">See more at AU Library.</a>
</p>

<ol>
  {% for ref in collections.references %}
    <li id="{{ ref.id }}">
      {% if (ref.type == "book") %}
        {{ ref.author }} ({{ ref.year }}). <span class="{{ ref.type }}">{{ ref.title }}</span>. {{ ref.edition }} edition. {{ ref.publisher }}. {{ ref.pages }} pp. ISBN: {{ ref.isbn }}.
      {% endif %}
      {% if (ref.type == "webpage") %}
        {{ ref.author }} ({{ ref.year }}). <a href="{{ ref.url }}"><span class="{{ ref.type }}">{{ ref.title }}</span></a>.
      {% endif %}
      {% if (ref.type == "standard") %}
        {{ ref.author }} ({{ ref.year }}). <span class="{{ ref.type }}">{{ ref.standard }}: {{ ref.title }}</span>.
      {% endif %}
      {% if (ref.type == "uml") %}
        {{ ref.author }} ({{ ref.year }}). <a href="{{ ref.url }}"><span class="{{ ref.type }}">{{ ref.title }}</span></a>. Version {{ ref.version }}. {{ ref.institution }}. {{ ref.pages }} pp.
      {% endif %}
    </li>
  {% endfor %}
</ol>