---
layout: layouts/base.njk
title: Views
---

<h2>{{title}}</h2>
<ol>
    <li>Module views
        <ol>
            <li><a href="/views/top-level-module-layer-view/">Module view</a></li>
            <li>TODO</li>
            <li><a href="">Data model</a> (TODO)</li>
        </ol>
    </li>
    <li>C&C views
        <ol>
            <li><a href="/views/top-level-cnc-view/">C&C view</a></li>
            <li>TODO</li>
        </ol>
    </li>
    <li>Allocation views
        <ol>
            <li><a href="/views/deployment-view/">Deployment view</a></li>
            <li>TODO</li>
        </ol>
    </li>
</ol>